/*Font Styles*/
/*font-family: 'Prompt', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&family=Raleway:wght@200;500;700&display=swap');

:root {
    /*img*/
    --mermaid: url('./Images/mermaid.png');
    --unicorn: url('./Images/unicorn.png');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background: #68A7AD;
}

footer {
    bottom: 0;
}

.select-box, .game-board, .result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

header {
    text-align: center;
}

/*Select Box CSS Style*/
.select-box {
    background: #E5CB9F;
    padding: 20px 25px 25px;
    border-radius: 5px;
    max-width: 330px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.select-box.hide {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}

.select-box h1 {
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 10px;
}

img {
    width: 50px;
    height: 50px;
    padding: 4px;
    cursor: pointer;
}

img:hover {
    background-color: #68A7AD;
    border-radius: 2px;
}

.start-btn {
    width: 50%;
    font-size: 18px;
    background: #68A7AD;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 8px 0;
    font-weight: 500;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}


/*Gameboard CSS Style*/
.game-board {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
}
.game-board.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.game-board .play-area {
    margin-top: 20px;
}

.game-board section {
    display: flex;
}

.game-board .play-area.x .box1:hover {
    background: var(--mermaid) no-repeat;
}

.game-board section span {
    display: block;
    margin: 2px;
    height: 80px;
    width: 80px;
    background: #E5CB9F;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
    color: #68A7AD;
}

/*Results CSS*/
.result-box {
    background: #E5CB9F;
    padding: 20px;
    border-radius: 5px;
    max-width: 350px;
    width: 100%;
    display: none;
}

.result-box .won {
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.result-box .won p {
    font-weight: 700;
    margin: 0 30px;
}

.result-box .btn {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.result-box .btn button {
    font-size: 18px;
    font-weight: 500;
    padding: 8px 20px;
    border: none;
    outline: none;
    background: #68A7AD;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}